<!DOCTYPE html>
<html>
<head>
  <title>Tech Blog - Logout</title>
   <link rel="stylesheet" href="/Tech_Blog DEMO/public/style.css">
</head>
<body>
  <h1>Logout</h1>
  <p>You have been successfully logged out.</p>
  <p><a href="/login">Log in</a></p>
</body>
</html>
